$base-color: #0e1e28;

$primary-color: #13a000;

$secondary-color: #e4af00;

$passive-color: #9b853f;

$font-primary: 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
